<div class="portal-title-body">
  <header class="portal-navbar">
    <ul class="nav navbar-nav nav-pills">

      <li role="presentation" class="nav-item">
          <img class="logo-icon-size txt-light"
            src="favicon.ico"/>
          <span class="sr-only txt-light">Inetsoft</span>
      </li>

      <li role="presentation" class="nav-item icon-primary">
        <a class="nav-link link_hover_orange" href=".." title="Home">
          <i class="nav-icon-size fas fa-home portal-toolbar-icon txt-light"
             aria-hidden="true"></i>
          <span class="sr-only txt-light">Home</span>
        </a>
      </li>

      <li role="presentation" class="nav-item">
        <a class="nav-link" title="Repository"
           routerLink="tab/report">
          <i class="nav-icon-size far fa-list-alt portal-toolbar-icon txt-light"
             aria-hidden="true"></i>
          <span class="sr-only txt-light">Repository</span>
        </a>
      </li>

      <li role="presentation" class="nav-item">
        <a class="nav-link" title="Portal"
           routerLink="tab/portal" routerLinkActive="active">
          <i class="nav-icon-size fas fa-tachometer-alt portal-toolbar-icon txt-light"
             aria-hidden="true"></i>
          <span class="sr-only txt-light">Portal</span>
        </a>
      </li>
    </ul>
  </header>
</div>
