$icomoon-font-path: "assets/ineticons/fonts" !default;

$account-icon: "\e900";
$add-icon: "\e901";
$adhoc-icon: "\e902";
$alert-icon: "\e903";
$align-bottom-icon: "\e904";
$align-center-icon: "\e905";
$align-left-icon: "\e906";
$align-middle-icon: "\e907";
$align-right-icon: "\e908";
$align-text-bottom-icon: "\e909";
$align-text-center-icon: "\e90a";
$align-text-left-icon: "\e90b";
$align-text-middle-icon: "\e90c";
$align-text-right-icon: "\e90d";
$align-text-top-icon: "\e90e";
$align-top-icon: "\e90f";
$annotation-icon: "\e910";
$annotation-empty-icon: "\e911";
$annotation-no-icon: "\e912";
$archive-icon: "\e913";
$archive-open-icon: "\e914";
$arrow-left-circle-outline-icon: "\e915";
$arrow-left-circle-outline-skip-icon: "\e916";
$arrow-right-circle-outline-icon: "\e917";
$arrow-right-circle-outline-skip-icon: "\e918";
$assets-icon: "\e919";
$auto-chart-type-icon: "\e91a";
$auto-reload-icon: "\e91b";
$axis-icon: "\e91c";
$axis-dimension-icon: "\e91d";
$backward-icon: "\e91e";
$backward-fast-icon: "\e91f";
$bare-arrow-down-icon: "\e920";
$bare-arrow-left-icon: "\e921";
$bare-arrow-right-icon: "\e922";
$bare-arrow-up-icon: "\e923";
$book-icon: "\e924";
$bookmark-icon: "\e925";
$bookmark-default-icon: "\e926";
$bookmark-folder-icon: "\e927";
$bookmark-home-icon: "\e928";
$bookmark-set-default-icon: "\e929";
$boolean-field-icon: "\e92a";
$border-bottom-icon: "\e92b";
$border-left-icon: "\e92c";
$border-right-icon: "\e92d";
$border-top-icon: "\e92e";
$brush-icon: "\e92f";
$brush-no-icon: "\e930";
$calculated-detail-field-icon: "\e931";
$calculated-sum-field-icon: "\e932";
$calendar-icon: "\e933";
$calendar-double-icon: "\e934";
$calendar-minus-icon: "\e935";
$calendar-plus-icon: "\e936";
$chart-icon: "\e937";
$chart-3D-bar-icon: "\e938";
$chart-3D-bar-stacked-icon: "\e939";
$chart-3D-pie-icon: "\e93a";
$chart-area-icon: "\e93b";
$chart-area-stacked-icon: "\e93c";
$chart-bar-icon: "\e93d";
$chart-bar-stacked-icon: "\e93e";
$chart-candle-icon: "\e93f";
$chart-donut-icon: "\e940";
$chart-line-icon: "\e941";
$chart-line-stacked-icon: "\e942";
$chart-map-icon: "\e943";
$chart-multi-style-icon: "\e944";
$chart-pareto-icon: "\e945";
$chart-pie-icon: "\e946";
$chart-radar-icon: "\e947";
$chart-radar-filled-icon: "\e948";
$chart-scattered-icon: "\e949";
$chart-scattered-stacked-icon: "\e94a";
$chart-size-icon: "\e94b";
$chart-stock-icon: "\e94c";
$chart-waterfall-icon: "\e94d";
$checkbox-icon: "\e94e";
$chevron-circle-arrow-down-icon: "\e94f";
$chevron-circle-arrow-left-icon: "\e950";
$chevron-circle-arrow-right-icon: "\e951";
$chevron-circle-arrow-up-icon: "\e952";
$chevron-circle-up-down-icon: "\e953";
$close-icon: "\e954";
$close-circle-icon: "\e955";
$collapse-icon: "\e956";
$color-fill-icon: "\e957";
$column-icon: "\e958";
$column-select-icon: "\e959";
$column-selection-icon: "\e95a";
$compare-icon: "\e95b";
$composer-icon: "\e95c";
$composite-table-icon: "\e95d";
$concat-icon: "\e95e";
$condition-icon: "\e95f";
$condition-with-query-icon: "\e960";
$condition-with-variable-icon: "\e961";
$contract-icon: "\e962";
$copy-icon: "\e963";
$creation-icon: "\e964";
$cross-join-icon: "\e965";
$crosstab-icon: "\e966";
$cube-icon: "\e967";
$customize-icon: "\e968";
$cut-icon: "\e969";
$database-icon: "\e96a";
$data-block-type-bound-icon: "\e96b";
$data-block-type-concat-icon: "\e96c";
$data-block-type-join-icon: "\e96d";
$data-block-type-mirror-icon: "\e96e";
$data-block-type-mv-icon: "\e96f";
$data-block-type-query-icon: "\e970";
$data-block-type-rotated-icon: "\e971";
$data-full-icon: "\e972";
$data-partial-icon: "\e973";
$data-source-folder-icon: "\e974";
$data-sources-icon: "\e975";
$data-table-icon: "\e976";
$date-field-icon: "\e977";
$date-range-icon: "\e978";
$datetime-field-icon: "\e979";
$db-model-icon: "\e97a";
$db-table-icon: "\e97b";
$dimension-icon: "\e97c";
$dimension-setting-icon: "\e97d";
$distribute-H-icon: "\e97e";
$distribute-V-icon: "\e97f";
$divider-horizontal-icon: "\e980";
$divider-vertical-icon: "\e981";
$downward-icon: "\e982";
$downward-fast-icon: "\e983";
$drill-down-icon: "\e984";
$drill-up-icon: "\e985";
$dropdown-box-icon: "\e986";
$edit-icon: "\e987";
$edit-print-icon: "\e988";
$email-icon: "\e989";
$embedded-table-icon: "\e98a";
$enter-parameter-icon: "\e98b";
$enterprise-manager-icon: "\e98c";
$equal-sign-icon: "\e98d";
$eraser-icon: "\e98e";
$expand-icon: "\e98f";
$export-icon: "\e990";
$extra-icon: "\e991";
$eye-icon: "\e992";
$eye-off-icon: "\e993";
$eye-plus-icon: "\e994";
$field-list-icon: "\e995";
$field-script-icon: "\e996";
$field-tree-icon: "\e997";
$file-csv-icon: "\e998";
$file-html-icon: "\e999";
$file-pdf-icon: "\e99a";
$file-pdf2-icon: "\e99b";
$file-ppt-icon: "\e99c";
$file-rtf-icon: "\e99d";
$file-svg-icon: "\e99e";
$file-txt-icon: "\e99f";
$file-xgm-icon: "\e9a0";
$file-xls-icon: "\e9a1";
$file-xml-icon: "\e9a2";
$folder-icon: "\e9a3";
$folder-bookmark-icon: "\e9a4";
$folder-move-icon: "\e9a5";
$folder-open-icon: "\e9a6";
$folder-plus-icon: "\e9a7";
$folder-toolbox-icon: "\e9a8";
$format-icon: "\e9a9";
$format-painter-icon: "\e9aa";
$formula-icon: "\e9ab";
$formula-edit-icon: "\e9ac";
$formula-table-icon: "\e9ad";
$forward-icon: "\e9ae";
$forward-fast-icon: "\e9af";
$function-and-variable-icon: "\e9b0";
$gauge-icon: "\e9b1";
$geo-field-icon: "\e9b2";
$geo-field-error-icon: "\e9b3";
$geo-mapped-icon: "\e9b4";
$geo-not-mapped-icon: "\e9b5";
$grouping-icon: "\e9b6";
$help-question-mark-icon: "\e9b7";
$highlight-icon: "\e9b8";
$home-icon: "\e9b9";
$image-icon: "\e9ba";
$inetsoft-icon: "\e9bb";
$inetsoft-full-icon: "\e9bc";
$inner-join-icon: "\e9bd";
$intersect-tables-icon: "\e9be";
$javascript-icon: "\e9bf";
$join-icon: "\e9c0";
$layout-icon: "\e9c1";
$line-icon: "\e9c2";
$loading-icon: "\e9c3";
$lock-icon: "\e9c4";
$logical-formula-icon: "\e9c5";
$logical-model-icon: "\e9c6";
$login-icon: "\e9c7";
$logout-icon: "\e9c8";
$max-height-icon: "\e9c9";
$maximize-icon: "\e9ca";
$max-width-icon: "\e9cb";
$measure-icon: "\e9cc";
$measure-setting-icon: "\e9cd";
$menu-horizontal-icon: "\e9ce";
$menu-sandwich-icon: "\e9cf";
$menu-vertical-icon: "\e9d0";
$merge-join-icon: "\e9d1";
$min-height-icon: "\e9d2";
$minus-box-outline-icon: "\e9d3";
$minus-tables-icon: "\e9d4";
$min-width-icon: "\e9d5";
$mirror-icon: "\e9d6";
$mobile-icon: "\e9d7";
$move-icon: "\e9d8";
$multi-chart-icon: "\e9d9";
$named-group-icon: "\e9da";
$new-objects-icon: "\e9db";
$new-report-icon: "\e9dc";
$new-viewsheet-icon: "\e9dd";
$new-worksheet-icon: "\e9de";
$number-field-icon: "\e9df";
$num-range-icon: "\e9e0";
$OBJ-icon: "\e9e1";
$order-column-icon: "\e9e2";
$other-join-icon: "\e9e3";
$outer-join-icon: "\e9e4";
$oval-icon: "\e9e5";
$page-icon: "\e9e6";
$page-layout-icon: "\e9e7";
$page-setting-icon: "\e9e8";
$palette-icon: "\e9e9";
$partition-icon: "\e9ea";
$paste-icon: "\e9eb";
$plus-box-outline-icon: "\e9ec";
$preview-icon: "\e9ed";
$printer-icon: "\e9ee";
$printer-default-icon: "\e9ef";
$printer-network-icon: "\e9f0";
$private-report-icon: "\e9f1";
$private-viewsheet-icon: "\e9f2";
$private-worksheet-icon: "\e9f3";
$query-icon: "\e9f4";
$radio-button-icon: "\e9f5";
$range-slider-icon: "\e9f6";
$recent-icon: "\e9f7";
$rectangle-icon: "\e9f8";
$redo-icon: "\e9f9";
$refresh-icon: "\e9fa";
$rename-icon: "\e9fb";
$report-icon: "\e9fc";
$report-adhoc-icon: "\e9fd";
$report-bean-icon: "\e9fe";
$report-bursted-icon: "\e9ff";
$report-edit-icon: "\ea00";
$report-meta-icon: "\ea01";
$report-param-only-icon: "\ea02";
$report-pregenerated-icon: "\ea03";
$report-replet-icon: "\ea04";
$report-wizard-icon: "\ea05";
$reset-icon: "\ea06";
$rotate-icon: "\ea07";
$SAP-icon: "\ea08";
$save-icon: "\ea09";
$save-as-icon: "\ea0a";
$save-as-changed-icon: "\ea0b";
$save-changed-icon: "\ea0c";
$search-icon: "\ea0d";
$search-next-icon: "\ea0e";
$search-result-icon: "\ea0f";
$selected-icon: "\ea10";
$selected-auto-icon: "\ea11";
$select-empty-icon: "\ea12";
$select-excluded-icon: "\ea13";
$selection-container-icon: "\ea14";
$selection-list-icon: "\ea15";
$selection-swap-icon: "\ea16";
$selection-tree-icon: "\ea17";
$select-multi-icon: "\ea18";
$select-other-icon: "\ea19";
$select-range-icon: "\ea1a";
$select-range-no-icon: "\ea1b";
$select-single-icon: "\ea1c";
$separate-chart-icon: "\ea1d";
$server-file-icon: "\ea1e";
$setting-icon: "\ea1f";
$shape-arrow-down-bold-icon: "\ea20";
$shape-arrow-up-bold-icon: "\ea21";
$shape-asterisk-icon: "\ea22";
$shape-circle-icon: "\ea23";
$shape-cross-icon: "\ea24";
$shape-diamond-icon: "\ea25";
$shape-exclamation-icon: "\ea26";
$shape-filled-circle-icon: "\ea27";
$shape-filled-diamond-icon: "\ea28";
$shape-filled-square-icon: "\ea29";
$shape-filled-triangle-icon: "\ea2a";
$shape-horizontal-bar-icon: "\ea2b";
$shape-L-icon: "\ea2c";
$shape-line-dash0-icon: "\ea2d";
$shape-line-dash1-icon: "\ea2e";
$shape-line-dash2-icon: "\ea2f";
$shape-line-dash3-icon: "\ea30";
$shape-line-dash4-icon: "\ea31";
$shape-pattern-cross-thick-dense-icon: "\ea32";
$shape-pattern-cross-thick-sparse-icon: "\ea33";
$shape-pattern-cross-thin-dense-icon: "\ea34";
$shape-pattern-cross-thin-sparse-icon: "\ea35";
$shape-pattern-L30-thick-dense-icon: "\ea36";
$shape-pattern-L30-thick-sparse-icon: "\ea37";
$shape-pattern-L30-thin-dense-icon: "\ea38";
$shape-pattern-L30-thin-sparse-icon: "\ea39";
$shape-pattern-L60-thick-dense-icon: "\ea3a";
$shape-pattern-L60-thick-sparse-icon: "\ea3b";
$shape-pattern-L60-thin-dense-icon: "\ea3c";
$shape-pattern-L60-thin-sparse-icon: "\ea3d";
$shape-pattern-R30-thick-dense-icon: "\ea3e";
$shape-pattern-R30-thick-sparse-icon: "\ea3f";
$shape-pattern-R30-thin-dense-icon: "\ea40";
$shape-pattern-R30-thin-sparse-icon: "\ea41";
$shape-pattern-R60-thick-dense-icon: "\ea42";
$shape-pattern-R60-thick-sparse-icon: "\ea43";
$shape-pattern-R60-thin-dense-icon: "\ea44";
$shape-pattern-R60-thin-sparse-icon: "\ea45";
$shape-pattern-solid-icon: "\ea46";
$shape-plus-icon: "\ea47";
$shapes-lines-icon: "\ea48";
$shapes-overview-icon: "\ea49";
$shapes-patterns-icon: "\ea4a";
$shapes-points-icon: "\ea4b";
$shape-square-icon: "\ea4c";
$shape-triangle-icon: "\ea4d";
$shape-V-icon: "\ea4e";
$shape-vertical-bar-icon: "\ea4f";
$shape-V-rotate-icon: "\ea50";
$shared-report-icon: "\ea51";
$shared-viewsheet-icon: "\ea52";
$shared-viewsheet-open-icon: "\ea53";
$shared-worksheet-icon: "\ea54";
$shared-worksheet-open-icon: "\ea55";
$show-detail-icon: "\ea56";
$show-summary-icon: "\ea57";
$single-chart-icon: "\ea58";
$slider-icon: "\ea59";
$snap-grid-icon: "\ea5a";
$snapshot-icon: "\ea5b";
$SOAP-icon: "\ea5c";
$sort-icon: "\ea5d";
$sort-ascending-icon: "\ea5e";
$sort-descending-icon: "\ea5f";
$spinner-icon: "\ea60";
$stop-icon: "\ea61";
$style-icon: "\ea62";
$submit-icon: "\ea63";
$summary-icon: "\ea64";
$summary-edit-icon: "\ea65";
$tab-icon: "\ea66";
$table-icon: "\ea67";
$table-of-contents-icon: "\ea68";
$tabular-data-icon: "\ea69";
$tabular-subquery-icon: "\ea6a";
$text-box-icon: "\ea6b";
$text-field-icon: "\ea6c";
$text-input-icon: "\ea6d";
$title-auto-icon: "\ea6e";
$title-rotate-L45-icon: "\ea6f";
$title-rotate-L90-icon: "\ea70";
$title-rotate-R45-icon: "\ea71";
$title-rotate-R90-icon: "\ea72";
$toolbar-icon: "\ea73";
$trash-icon: "\ea74";
$TXT-icon: "\ea75";
$undo-icon: "\ea76";
$union-tables-icon: "\ea77";
$unpivot-icon: "\ea78";
$upload-icon: "\ea79";
$upward-icon: "\ea7a";
$upward-fast-icon: "\ea7b";
$user-group-icon: "\ea7c";
$user-roles-icon: "\ea7d";
$value-list-icon: "\ea7e";
$value-type-list-icon: "\ea7f";
$variable-icon: "\ea80";
$variable-with-query-icon: "\ea81";
$view-detail-live-icon: "\ea82";
$view-detail-meta-icon: "\ea83";
$viewsheet-icon: "\ea84";
$viewsheet-book-icon: "\ea85";
$view-summary-live-icon: "\ea86";
$view-summary-meta-icon: "\ea87";
$vpm-icon: "\ea88";
$worksheet-icon: "\ea89";
$XML-icon: "\ea8a";
$zoom-in-icon: "\ea8b";
$zoom-no-icon: "\ea8c";
$zoom-out-icon: "\ea8d";

